
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/

body {
	margin: 0;
	padding: 0;
	background: powderblue;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #414141;
}




#poptrox {
	width: 960px;
	margin: 0px auto;
}

#gallery {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#gallery li {
	float: left;
	margin: 0px;
	padding: 10px;
}

#gallery img {
	border: 5px solid #FFFFFF;
}
